@import 'tailwindcss';

@theme {
  --color-drb-gray-30: #faf9fb;
  --color-drb-gray-40: #f8f7f4;
  --color-drb-gray-50: #f3f3f6;
  --color-drb-gray-300: #e7e7e9;
  --color-drb-gray-500: #d8d6d5;
  --color-drb-gray-700: #7b7194;
  --color-drb-gray-750: #6e6d7a;
  --color-drb-gray-800: #3d3d4e;
  --color-drb-gray-850: #3a3546;
  --color-drb-gray-900: #2b282b;

  --color-drb-black: #0d0c22;

  --color-drb-pink-50: #faebf9;
  --color-drb-pink-100: #f3afe4;
  --color-drb-pink-300: #ec5e95;
  --color-drb-pink-400: #ea4c89;
  --color-drb-ring: #f3afe4;

  --shadow-panel: 0px 15px 50px 0px rgba(27, 32, 50, 0.1);

  --spacing-4_5: 1.125rem;
  --spacing-5_5: 1.375rem;

  --breakpoint-tablet: 790px;
  --breakpoint-pc: 1200px;
}

@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none;
  }

  @keyframes slide-down {
    from {
      transform: translateY(-4px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-down {
    animation: slide-down 0.2s ease-out forwards;
  }

  @keyframes slide-down-reverse {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-4px);
      opacity: 0;
    }
  }

  .animate-slide-down-reverse {
    animation: slide-down-reverse 0.2s ease-out forwards;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 32s linear infinite;
  }

  @property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }

  @keyframes gradient-rotate {
    100% {
      --angle: 360deg;
    }
  }

  .animate-gradient-rotate {
    background-image: conic-gradient(
      from var(--angle),
      transparent 70%,
      rgba(216, 106, 212, 0.231373),
      rgba(151, 110, 221, 0.309804),
      rgba(162, 110, 220, 0.2),
      rgba(255, 255, 255, 0)
    );
    animation: gradient-rotate 4s linear infinite;
  }
}
